.bg-light {
    background-color: hsl(0, 0%, 35%);
    padding: 10px;
    border-radius: 10px;
}

.bg {
    background-color: hsl(0, 0%, 20%);
    border: 3px solid hsl(0, 0%, 35%);
}

.bg-dark {
    background-color: hsl(0, 0%, 10%);
}

.text {
    color: hsl(0, 0%, 90%);
}

.text-muted {
    color: hsl(0, 0%, 75%);
}

@media (prefers-color-scheme: light) {
    .bg-light {
        background-color: hsl(0, 0%, 95%);
    }

    .bg {
        background-color: hsl(0, 0%, 85%);
        border: none;
        box-shadow: 4px 4px 10px hsl(0, 0%, 0%);
    }

    .bg-dark {
        background-color: hsl(0, 0%, 70%);
    }

    .text {
        color: hsl(0, 0%, 10%);
    }

    .text-muted {
        color: hsl(0, 0%, 25%);
    }
}

main {
    display: flex;
    justify-content: center;

}

.box {
    width: 500px;
    padding: 30px;
    border-radius: 30px;
}