body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.bg-light {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
}

.bg {
    background-color: hsl(0, 0%, 90%);
}

.bg-dark {
    background-color: hsl(0, 0%, 80%);
}

.text {
    color: hsl(0, 0%, 10%);
}

.text-white {
    color: hsl(0, 0%, 100%);
}

.text-muted {
    color: hsl(0, 0%, 25%);
}

header{
    height: 46px;
    background-color: hsl(266, 30%, 26%);      

    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
}

header>*>*{
    margin: 0;
}

header img {
    height: 30px;
    align-self: center;
    margin-left: 20px;
}

#header-links {
    display: flex;
    justify-content: center;
    align-content: start;

    padding: 0;

    height: 46px;

    gap: 40px;

    list-style-type: none;
}

header button {
    display: flex;

    height: 70%;

    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: hsl(0, 0%, 90%);
    cursor: pointer;

    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    align-self: center;
}

.box {
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}